@page "/accounts/{accountId:guid}/transactions/create"
@using Microsoft.AspNetCore.Authorization

@using BankingClient.Ui.Components


<div class="container mt-3">
  @if (!string.IsNullOrEmpty(_errorMessage)) {
    <div class="alert alert-danger">@_errorMessage</div>
  }

  <div class="col-12 mb-3 me-md-3">
    <OwnerAccountCard FirstName="@_ownerDto?.FirstName" LastName="@_ownerDto?.LastName" Iban="@_accountDto?.Iban"/>
  </div>

  <div class="card shadow-sm w-100">
    <div class="card-body">
      <h5 class="card-title">Kontoauszug</h5>
      <div class="col-12 mb-3 me-md-3">
        <TransactionStartEnd Model="_transactionModel" OnSubmit="HandleStartEndDate"/>
      </div>

      @*<div class="row">

    
    <div class="col-12 mb-3">
      $1$ <TransactionsTable Transactions="@_transactionDtos" /> #1#

    </div>
  </div> *@

    </div>
  </div>
</div>