@using System.Globalization
@using BankingClient.Core.Dto
<div class="card shadow-sm w-100">
  <div class="card-body">
    <h6 class="card-title">Überweisungsempfänger</h6>

    @if (Beneficiaries?.Any() == true) {
      <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-sm table-striped table-hover">
          <thead>
          <tr>
            <th class="fw-normal">Vorname</th>
            <th class="fw-normal">Nachname</th>
            <th class="fw-normal">Iban</th>
            <th class="fw-normal">Aktionen</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var beneficiary in Beneficiaries) {
            <tr class="py-1">
              <td>@beneficiary.FirstName</td>
              <td>@beneficiary.LastName</td>
              <td>@beneficiary.Iban</td>
              <td>
                <button class="btn btn-primary btn-sm" @onclick="() => OnOpenBeneficiary.InvokeAsync(beneficiary.Id)">
                  Empfänger öffnen
                </button>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }
    else {
      <p>Keine Empfänger verfügbar.</p>
    }
  </div>

  <!-- Button placed outside the card -->
  <button class="btn btn-primary w-25 mx-2 mb-2  " >
    Neuer Empfänger
  </button>
</div>

@code {
  [Parameter] public List<BeneficiaryDto>? Beneficiaries { get; set; }
  [Parameter] public EventCallback<Guid> OnOpenBeneficiary { get; set; }
}
