@using BankingClient.Core.Dto
<div class="card shadow-sm w-100">
  <div class="card-body">
    <h6 class="card-title">Kontoinhaber</h6>
    <div class="mb-2">
      <label class="fw-normal">Name:</label>
      <span class="ms-2">@FirstName @LastName</span>
      <label class="fw-normal">,&nbsp;&nbsp;&nbsp;&nbspIban:</label>
      <span class="ms-2">@Iban</span>
    </div>
  </div>
</div>

@code {
  [Parameter] public required string FirstName { get; set; }
  [Parameter] public required string LastName { get; set; }
  [Parameter] public required string Iban { get; set; }
  
}
