@using BankingClient.Ui.Models
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
  <DataAnnotationsValidator />

  <div class="container">
    <div class="row g-3 justify-content-center">
      <!-- Start-Datum -->
      <div class="col-12 col-lg-4" style="max-width: 300px;">
        <InputFieldDate Id="startDate"
                        Label="Start"
                        Placeholder="TT.MM.JJJJ"
                        Value="Model.Start"
                        ValueChanged="EventCallback.Factory.Create<DateTime>(this, value => Model.Start = value)" />
      </div>

      <!-- End-Datum -->
      <div class="col-12 col-lg-4" style="max-width: 300px;">
        <InputFieldDate Id="endDate"
                        Label="Ende"
                        Placeholder="TT.MM.JJJJ"
                        Value="Model.End"
                        ValueChanged="EventCallback.Factory.Create<DateTime>(this, value => Model.End = value)" />
      </div>

      <!-- Button -->
      <div class="col-12 col-lg-2 d-flex align-items-end">
        <button type="submit" class="btn btn-primary w-100" style="white-space: nowrap;">Abrufen</button>
      </div>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public TransactionModel Model { get; set; } = new ();
  [Parameter] public EventCallback<TransactionModel> OnSubmit { get; set; }

  private async Task HandleValidSubmit() {
    await OnSubmit.InvokeAsync(Model);
  }
}
