@page "/owners"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "CombinedPolicy")]
<div class="container mt-3">
  @if (!string.IsNullOrEmpty(_errorMessage)) {
    <div class="alert alert-danger">@_errorMessage</div>
  }


  <div class="row">
    <!-- Kontoinhaber Card -->
    <div class="col-12 mb-3 me-md-3">
      <!-- reuse Blazor Component -->
      <OwnersList Owners="@_ownerDtos"/>
    </div>
  </div>
</div>