@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable
@inject NavigationManager NavigationManager
<div class="nav-item px-3">
  <AuthorizeView>
    <Authorized>
      <a class="nav-link" href="authentication/logout">
        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Logout
      </a>
    </Authorized>
    <NotAuthorized>
      <a class="nav-link" href="authentication/login">
        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
      </a>
    </NotAuthorized>
  </AuthorizeView>
</div>

@code {
  private string? currentUrl;

  protected override void OnInitialized() {
    currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    NavigationManager.LocationChanged += OnLocationChanged;
  }

  private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
    currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
    StateHasChanged();
  }

  public void Dispose() {
    NavigationManager.LocationChanged -= OnLocationChanged;
  }

}