// BeneficiaryCreate.razor: Input form for a beneficiary
@page "/beneficiaries/create"
@using Microsoft.AspNetCore.Components.Forms
@using BankingClient.Ui.Layout
@using BankingClient.Ui.Components
@layout MainLayout

<div class="d-flex justify-content-left">
  <div class="card shadow-sm" style="width: 32rem;">
    <div class="card-body">
      <h5 class="card-title">Überweisungsempfänger hinzufügen</h5>

      @if (!string.IsNullOrEmpty(_errorMessage)) {
        <div class="alert alert-danger">@_errorMessage</div>
      }

      <InputField Id="firstname" Label="Vorname" Placeholder="Vorname" @bind-Value="_beneficiaryCreate.Firstname" />
      <InputField Id="lastname" Label="Nachname" Placeholder="Nachname" @bind-Value="_beneficiaryCreate.Lastname" />
      <InputField Id="iban" Label="IBAN" Placeholder="IBAN" @bind-Value="_beneficiaryCreate.Iban" />

      <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Senden</button>
        <button type="button" class="btn btn-secondary" @onclick="LeaveForm">Zurück</button>
        <button type="button" class="btn btn-danger" @onclick="CancelOperation">Abbrechen</button>
      </div>
    </div>
  </div>
</div>

