@page "/accounts/{accountid:guid}/beneficiaries/create"
@using BankingClient.Ui.Components

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Überweisungsempfänger hinzufügen</h5>
          @if (!string.IsNullOrEmpty(_errorMessage)) {
            <div class="alert alert-danger">@_errorMessage</div>
          }

          <InputField Id="firstname" Label="Vorname" Placeholder="Vorname" @bind-Value="_beneficiaryCreate.FirstName" />
          <InputField Id="lastname" Label="Nachname" Placeholder="Nachname" @bind-Value="_beneficiaryCreate.LastName" />
          <InputField Id="iban" Label="IBAN" Placeholder="IBAN" @bind-Value="_beneficiaryCreate.Iban" />

          <ButtonsSubmitLeaveCancel OnSubmit="HandleSubmit" OnLeave="LeaveForm" OnCancel="CancelOperation" />
        </div>
      </div>
    </div>
  </div>
</div>

