@page "/settings"
@using BankingClient.Ui.Components
<h3>Einstellungen</h3>

<div class="container">
   <div class="row">
      <div class="col-sm">
         <ProfileComponent/>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
   </div>
</div>