@page "/transfers/{AccountId:guid}"
@page "/transfers/"
@using BankingClient.Core
@using BankingClient.Core.Dto
@using BankingClient.Services

<div class="d-flex">
    <div class="flex-grow-1 p-2">
        @if (AccountId != Guid.Empty) {
            <TransferComponent SelectedAccountId="@AccountId" 
                               OnTransfer="UpdateTransferHistory"/>
        }
        else {
            <TransferComponent SelectedAccountId="@AccountId"
                               OnTransfer="HandleSelectedAccountIdChanged"/>
        }
    </div>
    <div class="flex-grow-1 p-2">
        <TransferHistoryComponent transfers="@_transferDtos"/>
    </div>
</div>

}