@page "/accounts/{accountId:guid}/transfers/create"
@using BankingClient.Ui.Components

<div class="container mt-3">
  @if (!string.IsNullOrEmpty(_errorMessage)) {
    <div class="alert alert-danger">@_errorMessage</div>
  }

  <div class="col-12 mb-3 me-md-3">
    <!-- reuse Blazor Component -->
    <OwnerCard Owner="@_ownerDto"/>
  </div>

  <div class="col-12 mb-3">
    <AccountCard Account="@_accountDto"/>
  </div>

  <div class="col-12 mb-3">
    <BeneficiariesTable Beneficiaries="_beneficiaryDtos" OnOpenBeneficiary="OpenBeneficiary" />
  </div>

  <!-- Button placed outside the card -->
  <button class="btn btn-primary w-25 mx-2 mb-2"  @onclick="CreateBeneficiary"> >
    Neuer Empfänger
  </button>

</div>